# ----------------------------------------------------------------------
# | Eleventy                                                           |
# ----------------------------------------------------------------------

_site
node_modules
package-lock.json
.env
/assets/admin
/admin-server.js
# ----------------------------------------------------------------------
# | WSL2 etc                                                           |
# ----------------------------------------------------------------------

*.bak
*:Zone.Identifier
# Local Netlify folder
.netlify