    </main>
    <nav class="site-nav">
      <a href="{{ '/' | url }}">Browse by book</a>
      <a href="{{ '/all/' | url }}">See all notes</a>
    </nav>
    <footer class="site-footer">
      <small>Made by <a href="{{ site.authorUrl }}">{{ site.author }}</a>. Notes and covers are copyright to their respective authors. Forked from <a href="https://github.com/melanierichards/highlights">Highlights by Melanie Richards.</a></small>
      <br>
      <small>Disclosure, I, and the bookstore, may earn commission from any books bought through the affiliate link.</small>
    </footer>

    {# <script src="{{ '/assets/js/deps.js' | url }}"></script> #}
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>