<body>
  {{ '/assets/svgs/icons.svg' | svgContents | safe }}
  <header class="site-header" role="banner">
    <a href="{{ site.url | url }}">highlights.josephmos.es</a>
  </header>
  <main role="main" class="page-wrap">