---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Page not found">
  <h1>Page not found</h1>

  <div class="error-msg">
    This page could not be found in the archives. You can <a href="/">browse by book</a> or
    <a href="/all/">explore all highlights</a>.
  </div>
</BaseLayout>
