{% include "head.njk" %}
{% include "header.njk" %}

<h1 class="u-vis-hidden">Notes from all books</h1>

{% for post in posts %}
  {% set individualPost = false %}
  {% include "post-contents.njk" %}
{% endfor %}

{% include "pagination.njk" %}
{% include "footer.njk" %}