{% include "head.njk" %}
{% include "header.njk" %}

<h1 class="u-vis-hidden">Explore all books</h1>

<ul class="covers">
  {% for post in posts %}
    <li class="cover">
      {% set current_book = post.data.book %}
      {% set current_svg = '/assets/svgs/' + current_book + '.svg' %}
      {% set current_cover_jpg = '/assets/images/covers/' + current_book + '.jpg' %}
      {% set current_cover_webp = '/assets/images/covers/' + current_book + '.webp' %}
      <a href="{{ post.url | url }}" class="book__image" data-bgSrc="{{ current_cover | url }}" title="{{ post.data.title }}">
        <picture>
          <source type="image/webp" srcset="{{ current_cover_webp | url }}">
          <source type="image/jpeg" srcset="{{ current_cover_jpg | url }}">
          <img src="{{ current_cover_jpg | url }}" alt="Cover of {{current_book}}">
      </picture>
      </a>
    </li>
  {% endfor %}
</ul>

{% include "pagination.njk" %}
{% include "footer.njk" %}